.noticia-more{
    font-size: 25px !important;
    position: absolute;
    right: -25px;
    top: -18px;
}

.iconoPorEs{
    border-radius: 100px;
    width: 13%;
    background-color: antiquewhite;
    // padding: 3px;
    margin: 4px;
    float: right;   
}

.iconoPorN{
    border-radius: 100px;
    width: 13%;
    background-color:lightcoral;
    // padding: 3px;
    margin: 4px;
    float: right;   
}

.iconoPorP{
    border-radius: 100px;
    width: 13%;
     background-color: aquamarine;
    // padding: 3px;
    margin: 4px;
    float: right;   
}


.iconoF{
    border-radius: 100px;
    width: 15%;
    // background-color: antiquewhite;
    // padding: 3px;
    margin: 4px;
    float: right;   
}
