



<ion-card >
  <ion-card-header>
    <ion-card-subtitle id="sub">
    hola
    </ion-card-subtitle>

    <ion-card-title style="size: 12px;">
    burnas tardes
      <!-- <img [src]="retornarIcon(noticia.porcentaje)" class="iconoPor" />   -->
    </ion-card-title>
  
  </ion-card-header>
  
  <ion-card-content>

    <h4>{{ hola}}</h4>{{doughnutChartData}}
    <div>
      <div>
        <div style="display: block">
          <canvas baseChart
          [data]="doughnutChartData"
          [labels]="doughnutChartLabels"
          [chartType]="doughnutChartType">
          </canvas>
        </div>
      </div>
    </div>
   
  </ion-card-content>
</ion-card>